
.icon-user:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-undo:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-doc-text-inv:before { content: '\e808'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */