.category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include small-tablet {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    @include mobile {
        grid-template-columns: 100%;
        margin: 0 -20px;
    }

    &__link {
        width: 100%;
        height: 100%;
        max-height: 300px;
        position: relative;

        img {
            height: inherit;
            width: inherit;
            object-fit: cover;
            object-position: top;

            @include mobile {
                aspect-ratio: 1/1;
            }
        }
    }

    &__item {
        display: flex;

        &.all {
            background-color: rgba(var(--bg-c),1.0);

            .category-list__link {
                padding: 30px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                svg {
                    margin-left: auto;
                }

                @include mobile {
                    max-height: 350px;
                    height: 350px;
                }
            }

            span {
                color: rgba(var(--cl-b),1.0);
                font-family: var(--font-family2);
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                max-width: 230px;
                line-height: normal;
            }
        }
    }

    &__wrapper {
        min-height: 82px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        background-color: rgba(var(--bg-b),.8);
    }

    &__title {
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family2);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
    }
}




.contact_body{
    &-list{
        display: flex;
        gap: 35px;
        margin-top: 50px;

        @media (max-width: 767px) {
            flex-direction: column;
        }   
    }

    &-item{
        background: #D4AB80;
        padding: 30px 65px 30px 30px;
        flex-basis: 50%;
        position: relative;

        @media (max-width: 767px) {
            flex-basis: 100%;
        }


        &:after{
            content: '';
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M55.812 0 60 4.187 10.053 54h31.95V60H0V17.714l6-.089v32.26L55.812 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");

            @media (max-width: 767px) {
                width: 35px;
                height: 35px;
            }
        }

        em{
            font-style: normal;
        }

        span{
            font-size: 20px;
            line-height: 1.5;
        }

        a{
            font-size: 40px;
            font-family: var(--font-family2);
            margin: 5px 0;

            @media (max-width: 767px) {
                font-size: 28px;
            }
        }
    }

    &-pretitle{
        margin-top: 50px;
    }
}



.main-pages-body{
    & > *{
        font-size: 18px;
        line-height: 1.8;
        margin: 15px 0;
        display: block;

        svg{
            max-width: 20px;
            max-height: 20px;
        }
    }

    @media (min-width: 767px) {

        img{
            &.alignright{
                float: right;
                margin: 10px;
            }
            
            &.alignleft{
                float: left;
                margin: 10px;
            }
        }
    }
}





// SINGLE PAGE

.single.single-product{
    .entry-header{
        display: none;
    }

    .single-product{
        max-width: var(--container-width);
        margin: 50px auto auto auto;

        .main-top__title{
            font-weight: 800;
            margin-bottom: 50px;
        }

        .woocommerce-product-details__short-description{
            font-size: 20px;
            line-height: 1.5;
            margin: 50px 0;

            &-content{   
                height: 200px;
                overflow: hidden;
                position: relative;

                &:after{
                    content: '';
                    width: 100%;
                    height: 45px;
                    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 30%);
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                }

                &.show{
                    height: auto;

                    &:after{
                        display: none;
                    }

                    & + #moreButton{
                        &:after{
                            transform: rotate(-135deg) translateY(-3px);
                            transition: transform .3s ease;
                        }
                    }
                }
            }


            #moreButton {
                margin-top: 10px;
                font-size: 18px;
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;

                &:after{
                    content: '';
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg);
                    transition: transform .3s ease;
                }
            }   
        }
    }
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins{
    text-decoration: none;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
    width: 40%;

    @media (max-width: 767px) {
        width: 100%;
        padding: 0 15px;
    }
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
    width: 55%;

    @media (max-width: 767px) {
        width: 100%;
        padding: 0 15px;
    }


    form.cart .button{
        background: #313133;
        color: #D4AB80;
        text-transform: uppercase;
        font-size: 27px;
        font-family: var(--font-family2);
    }


}


.woocommerce span.onsale{
    background: #313133;
    border-radius: 0;
    padding: 15px 10px;
    min-height: 0;
    height: auto;
    line-height: 1;
    left: 15px;
    top: 25px;
}

.summary.entry-summary{
    .the-form{
       margin: 25px 0;

       & > span{
        font-size: 18px;
        margin: 10px 0;
        display: block;
       }

        .choose-color{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            & > *{
                width: 40px;
                height: 40px;
            }
        }


        &.meh{
            .chooser{
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                max-width: 600px;
                
                & > *{
                    flex-basis: 45%;
                    border: 1px solid #313133;
                    padding: 10px 15px;
                    justify-content: center;
                    text-align: center;
                    background: transparent;
                    transition: background .5s ease;

                    &:hover{
                        background: #D4AB80;
                        transition: background .5s ease;
                    }

                    &.acti{
                        background: #D4AB80;
                        transition: background .5s ease;
                    }
                }
            }
        }
    }

    .price{
        display: inline-flex;
        align-items: center;
        border: 1px solid #D4D4D4;
        padding: 50px 30px;
        gap: 20px;

        del{
            color: #313133;
            font-weight: 400;
            font-size: 24px;

            order: 2;

            span{
                color: #313133;
                font-weight: 400;
                font-size: 24px;
            }

            bdi{
                color: #313133;
                font-weight: 400;
                font-size: 24px;
            }
        }

        ins{
            order: 1;
        }
    }

    .woocommerce-Price-amount.amount{
        color:#D4AB80;
        font-size: 40px;
        font-weight: 800;
        font-family: var(--font-family2);
    }

}


.woocommerce .quantity .qty{
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #D4D4D4;
    background: #fff;
}


@media (max-width: 767px) {   
    #wooswipe .thumbnails{
        display: none;
    }
}



.woocommerce table.shop_table td{
    border: none;
}



.woocommerce-cart-form__cart-item.cart_item{
    background: rgba(212, 212, 212, .2);
    margin-bottom: 10px;


    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
    align-items: center;
    padding: 10px;

    .product-quantity{
        text-align: center;
    }
}

.cart-table__head{
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    .product-quantity{
        text-align: center;
    }

    & > *{
        font-weight: 800;
        font-family: var(--font-family2);
        text-transform: uppercase;
    }
}



.woocommerce-cart .wc-proceed-to-checkout a.checkout-button   { 
    background: #313133;
    font-family: var(--font-family2);
    text-transform: uppercase;
    color: #fff;
    transition: background .5s ease;

    &:hover{
        background:#D4AB80;
        transition: background .5s ease;
    }
}

.woocommerce-cart .cart-collaterals .cart_totals table{
    margin: 25px 0 5px 0;
}

.woocommerce a.remove{
    font-size: 0;

    &::after{
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' fill='none'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8.059 9.235v7.06m4.706-7.06v7.06M17.47 4.528v14.118c0 1.3-1.054 2.353-2.353 2.353H5.706a2.353 2.353 0 0 1-2.353-2.353V4.53M1 4.53h18.823m-5.882 0V3.353c0-1.3-1.053-2.353-2.353-2.353H9.235a2.353 2.353 0 0 0-2.353 2.353v1.176'/%3E%3C/svg%3E");
        min-width: 20px;
        min-height: 22px;
        display: inline-block;
        margin-top: -10px;
    }
}

.woocommerce-checkout{
    form .form-row {
        width: 100%;
        padding: 0;
        margin: 0;

        label{
            margin-top: 15px;
        }

        input.input-text{
            border: 1px solid #D4D4D4;
            font-size: 18px;
            font-family: var(--font-family2);
            padding: 22px;
        }
    }

    .woocommerce-billing-fields__field-wrapper{
        display: flex;
        flex-direction: column;
    }

    .woocommerce-input-wrapper{
        textarea{
            border: 1px solid #D4D4D4;
            font-size: 18px;
            padding: 20px;
            min-height: 405px;
            font-family: var(--font-family2);
        }
    }

    .col2-set{
        margin-bottom: 50px;
    }

    #order_review_heading{
        margin-bottom: 15px;
        display: block;
    }

    .woocommerce-thankyou-order-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
    }

    .woocommerce-order-details__title{
        margin: 10px 0;
    }
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
    background: #313133;
    font-family: var(--font-family2);
    text-transform: uppercase;
    color: #fff;
    transition: background .5s ease;
    font-size: 24px;
    float: none;

    &:hover{
        background:#D4AB80;
        transition: background .5s ease;
    }
}


#ThankYou{
    position: fixed;
    z-index: 22;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, .2);

    & > div{
        background: #fff;
        box-shadow: 0 10px 10px rgba(0,0,0, .2);
        padding: 30px;
    }
}