.category-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;

    &__link {
        width: 100%;
        height: 100%;
        max-height: 300px;
        position: relative;

        img {
            height: inherit;
            width: inherit;
            object-fit: cover;
            object-position: top;
        }
    }

    &__item {
        display: flex;

        &.all {
            background-color: rgba(var(--bg-c),1.0);

            .category-list__link {
                padding: 30px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                svg {
                    margin-left: auto;
                }
            }

            span {
                color: rgba(var(--cl-b),1.0);
                font-family: var(--font-family2);
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                max-width: 230px;
                line-height: normal;
            }
        }
    }

    &__wrapper {
        min-height: 82px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        background-color: rgba(var(--bg-b),.8);
    }

    &__title {
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family2);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
    }
}



.contact_body{
    &-list{
        display: flex;
        gap: 35px;
        margin-top: 50px;

        @media (max-width: 767px) {
            flex-direction: column;
        }   
    }

    &-item{
        background: #D4AB80;
        padding: 30px 65px 30px 30px;
        flex-basis: 50%;
        position: relative;

        @media (max-width: 767px) {
            flex-basis: 100%;
        }


        &:after{
            content: '';
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M55.812 0 60 4.187 10.053 54h31.95V60H0V17.714l6-.089v32.26L55.812 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");

            @media (max-width: 767px) {
                width: 35px;
                height: 35px;
            }
        }

        em{
            font-style: normal;
        }

        span{
            font-size: 20px;
            line-height: 1.5;
        }

        a{
            font-size: 40px;
            font-family: var(--font-family2);
            margin: 5px 0;

            @media (max-width: 767px) {
                font-size: 30px;
            }
        }
    }

    &-pretitle{
        margin-top: 50px;
    }
}



.main-pages-body{
    & > *{
        font-size: 18px;
        line-height: 1.8;
        margin: 15px 0;
        display: block;
    }

    @media (min-width: 767px) {

        img{
            &.alignright{
                float: right;
                margin: 10px;
            }
            
            &.alignleft{
                float: left;
                margin: 10px;
            }
        }
    }
}