.product-card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
        right: 20px;
        z-index: 10;
        top: 20px;

        @include small-tablet {
            right: 0;
            top: 0;
        }
    }

    &__like {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(var(--bg-b),1.0);

        @include small-tablet {
            margin-right: 10px;
        }

        svg {
            fill: transparent;
        }

        &:hover,
        &.active {
            svg {
                fill: red;
            }
        }
    }

    &__label {
        background-color: rgba(var(--bg-a),1.0);
        padding: 5px 10px;
        display:  flex;
        align-items: center;
        justify-content: center;
        width: fit-content;

        color:  rgba(var(--cl-b),1.0);
        font-family: var(--font-family);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .woocommerce-LoopProduct-link {
        position: relative;

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            content: '';
            opacity: 0;
            background-color: transparent;
            border: 5px solid var(--br-b);
            transition: all .3s;
        }
    }

    &:hover {
        .woocommerce-LoopProduct-link::before {
            opacity: 1;
        }
    }

    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;

        @include mobile {
            padding-top: 5px;
        }

        h2 {
            flex-grow: 1;
            color: rgba(var(--cl-a),1.0);
            font-family: var(--font-family);
            font-size: clamp(12px, 1.127vw, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 150% */
        }

        .price {
            color: rgba(var(--cl-a),1.0) !important;
            font-family: var(--font-family2) !important;
            font-size: clamp(16px, 2.113vw, 20px) !important;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .pc {
        position: absolute;
        z-index: 2;
        left: 20px;
        top: 20px;

        @include laptop {
            display: none;
        }
    }

    .chooser {
        padding: 5px;
        gap: 5px;
        background-color: rgba(var(--bg-b),1.0);
        display: flex;
        flex-direction: column;


        &__link {
            display: flex;
            width: 30px;
            height: 30px;

            &.active {
                border: 3px solid var(--br-b);
            }
        }
    }

}