.small-banner {
    background-color: rgba(var(--bg-d),1.0);
    overflow: hidden;

    @media (max-width: 767px) {
        display: none;
    }

    &__inner {
        display: grid;
        align-items: center;
        grid-template-columns: auto 60%;

        justify-content: space-between;

        @include tablet {
            position: relative;
            grid-template-columns: 100%;
        }
    }

    &__coll {
        background-color:rgba(var(--bg-a),1.0);
        display: flex;

        border-radius: 200px 0px 0px 200px;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::before {
            background-color: inherit;
            top: 0;
            bottom: 0;
            left: 100%;
            right: -100vw;
            position:absolute;
            content: '';
        }

        @include tablet {
            justify-content: center;
            margin: 0 -20px;
            border-radius: 50px 50px 0px 0px;
        }
    }

    &__image {
        display: flex;

        @include tablet {
            position: absolute  ;
            right: 15vw;
            top: 0;
            transform: translateY(-100%);
            height: 300px;

            img {
                width: 100%;
                height: inherit;
            }
        }

        @include mobile {
            right: 0;
        }

        @include ios {
            right: -10%;
        }
    }

    &__value {
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family3);
        font-size: clamp(100px, 14.085vw, 200px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 20px;

        @include tablet {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;

            font-size: clamp(85px, 20.085vw, 200px);
        }
    }

    &__content {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        position: relative;

        color: rgba(var(--cl-b),1.0);
        text-align: center;
        font-family: var(--font-family2);

        font-style: normal;
        
        line-height: normal;

        @include tablet {
            min-height: initial;
            padding: 40px 0 20px;
        }
    }

    &__title {
        font-size: clamp(40px, 7.042vw, 100px);
        line-height: clamp(40px, 7.042vw, 100px);
        font-weight: 700;

        @include tablet {
            font-size: clamp(40px, 10.042vw, 100px);
            line-height: clamp(40px, 10.042vw, 100px);
        }
    }

    &__descr {
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
    }




}

.counter {
    color: rgba(var(--cl-b),1.0);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}